<button class="btn" (click)="toggleSorting()">{{btnval}}</button>

<ng-container *ngIf="sortingEnabled">
  <div class="container">
    <ng-multiselect-dropdown
    [placeholder]="'select color'"
    [settings]="dropdownSettings"
    [data]="dropdownList"
    [(ngModel)]="selectedItems"
    (onSelect)="onItemSelect($event)"
    (onSelectAll)="onSelectAll($event)"
  >
  </ng-multiselect-dropdown>
  </div>
    
  
  <div 
    *ngFor = "let item of listOfItems;let i=index" class="checkbox-list">
    <input
      (change)="changeBlockState(item)"
      type="checkbox"
      [checked]="item.isChecked">
    {{item.name}}
  </div>
</ng-container>

<div class="colors-container">
  <ng-container *ngIf="sortingEnabled">
    <div
      class="block-container"
      *ngFor="let block of listOfBlocks; let i = index"
      ngSortgridItem
      [ngSortGridItems]="listOfBlocks"
      (sorted)="sorted($event)">
      <div class="block" *ngIf="block.isShown" [ngClass]="block.className">
        <i (click)="deleteItem(i)" class = "trash fa fa-close"></i>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="!sortingEnabled">
    <div
      class="block-container"
      *ngFor="let block of listOfBlocks; let i = index">
      <div class="block" *ngIf="block.isShown" [ngClass]="block.className">
      </div>
    </div>
  </ng-container>
</div>


